.header {
  display: flex;
  align-items: center;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: rgb(26, 29, 36);
  padding: 0 15px;
  z-index: 10;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    &-logo {
      img {
        height: 40px;
        max-width: 100%;
        min-width: 46px;
        transition: all .3s;

        &:hover {
          opacity: .8;
        }
      }
    }

    &-btn {
      background-color: #3077f7;
      border-color: transparent;
      color: #fff;
      padding: 9px 20px;
      border-radius: 5px;
      font-size: 1rem;
      font-weight: 400;
      cursor: pointer;
      transition: all .5s;

      &:hover {
        background-color: #1966f2;
      }
    }
  }
}
