.firstSlider {
  margin: 60px auto 24px;
  height: 280px;
  width: 100%;
  max-width: 768px;

  .top__slider {
    padding: 0;
    min-height: 280px;
    width: 100%;
    max-width: 100%;
    position: relative;

    .ts__Item-vipClub {
      background-image: url("../images/src/topSlider/vip_bg.webp");
      background-position: right center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    .slider__Item-loyalty {
      background-color: #c83e03;
      background-image: url("../images/src/topSlider/bars.webp");
      background-size: 575px;
      background-position: right center;
      background-repeat: no-repeat;

      .ts__loyalty-img, .ts__vipClub-img {
        position: absolute;
        height: 100%;
        right: -60px;
        top: 0;

        img {
          height: 100%;
          width: 100%;
        }
      }
    }

    .slider__Item-partnership {
      background-color: #4500a2;

      .topSlider__yellow {
        background-image: url("../images/src/topSlider/yellow.svg");
        background-repeat: no-repeat;
        transform: rotate(20deg) scale(2);
        width: 220px;
        height: 200px;
        position: absolute;
        right: -10px;
        top: 100%;
      }
    }

    &-item {
      height: 100%;
      padding: 15px;
      min-height: 280px;
      border-radius: 8px;
      position: relative;
      overflow: hidden;

      .top__slider-content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 15px;
        display: flex;
        flex-direction: column;
        align-items: start;

        .top__slider-title, .top__slider-subtitle {
          background-color: rgba(0, 0, 0, 0.26);
          color: rgb(232, 230, 227);
          border-radius: 10px;
          display: inline-block;
          font-size: 22px;
          font-weight: 500;
          padding: 5px 10px;
        }

        .top__slider-title {
          font-size: 22px;
          font-weight: 500;
          margin-bottom: 5px;
        }

        .top__slider-subtitle {
          font-size: 18px;
          margin-bottom: 15px;
        }

        .top__slider-btn {
          display: block;
          font-size: 1.1rem;
          font-weight: 500;
          margin-top: 15px;
          padding: 7px 30px;
          border-radius: 20px;
          background-color: rgb(24, 26, 27);
          border-color: transparent;
          text-transform: uppercase;
          transition: all .3s ease;
          outline: none;
        }

        .ts__btn-vipClub {
          color: rgb(232, 230, 227);
        }

        .ts__btn-loyalty {
          color: rgb(255, 80, 26);
        }

        .ts__btn-partnership {
          color: rgb(144, 62, 255);
        }

        .top__slider-bonusesList {
          position: absolute;
          bottom: 25px;
          left: 15px;
          display: flex;

          .bonusesList__item:not(:last-child) {
            margin-right: 30px;
          }

          .bonusesList__item {
            display: flex;

            img {
              height: 35px;
              width: 35px;
              position: relative;
              top: 10px;
            }

            &-features {
              font-size: 14px;
              font-weight: 400;
              margin-left: 10px;
              margin-top: 10px;
            }
          }
        }
      }
    }
  }
}


.slick-dots {
  display: flex;
  justify-content: center;
  margin-top: 0;
  list-style-type: none;

  button {
    border: none;
    border-radius: 5px;
    font-size: 0;
    padding: 0;
    margin: 5px;
    background-color: hsla(0, 0%, 100%, .478);
    width: 20px;
    height: 5px;
    transition: transform .225s cubic-bezier(.8, 1.35, .75, 1.45), background-color .175s ease-out, -webkit-transform .225s cubic-bezier(.8, 1.35, .75, 1.45);

    &:hover {
      transform: scale(1.2);
    }
  }

  .slick-active {
    button {
      transform: scale(1.5);
      background-color: #fff;
    }
  }
}

